@import '../fonts.scss';
@import '../variables.scss';
@import '../mixins.scss';

#timeline {
  background: linear-gradient(to bottom, #1b2031, #1b2031 60%, #3b3650 100%);
  padding-top: 50px;
  .row {
    margin-bottom: 50px;
    margin-top: 50px;
  }
}

.info-container {
  height: 350px;
  width: 350px;
  padding: 15px;
  background-color: white;
  border: 5px solid $banner-yellow;
  border-radius: 17px;
  text-align: center;

  .agenda-activity-name {
    font-family: PoppinsBlack;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 7px;
    font-size: 1.7em;
    color: $banner-blue;
  }
}

.row-l-r {
  .info-container {
    float: right;
  }

  .timestamp {
    float: left;
    width: 100%;
    height: 350px;

    .horizontal-bar {
      width: 150px;
      height: 5px;
      background-color: $banner-yellow;
      position: absolute;
      margin-left: -25px;
      margin-top: 150px;
      //   margin-top: 165px;
    }

    .time {
      font-family: PoppinsBlack;
      font-size: 1.7em;
      color: $banner-yellow;
      margin-left: 150px;
      margin-top: 130px;
    }
  }
}

.row-r-l {
  .timestamp {
    .horizontal-bar-l {
      width: 150px;
      height: 5px;
      float: right;
      background-color: $banner-yellow;
      margin-right: -25px;
      margin-top: 150px;
    }

    .time-l {
      font-family: PoppinsBlack;
      font-size: 1.7em;
      float: right;
      color: $banner-yellow;
      margin-top: 130px;
      margin-right: 25px;
      min-width: 20px;
    }
  }
}
