@font-face {
  font-family: PoppinsBlack;
  src: url('../assets/fonts/Poppins-Black.otf');
}

@font-face {
  font-family: PoppinsSemiBold;
  src: url('../assets/fonts/Poppins-SemiBold.otf');
}

@font-face {
  font-family: PoppinsBold;
  src: url('../assets/fonts/Poppins-Bold.otf');
}

@font-face {
  font-family: PoppinsMedium;
  src: url('../assets/fonts/Poppins-Medium.otf');
}

@font-face {
  font-family: PoppinsRegular;
  src: url('../assets/fonts/Poppins-Regular.otf');
}
