@import './fonts.scss';
@import './variables.scss';
@import './mixins.scss';

#hero {
  margin-top: -120px;
}

.hero {
  position: relative;
  height: 100vh;
  background-image: url('../assets/img/HERO.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 0;
  background-attachment: fixed;

  h1,
  p {
    color: white;
    text-transform: uppercase;
    position: absolute;
    @include centralise;
  }

  .main-title {
    top: 37vh;
    font-family: PoppinsBlack;
    font-size: calc(100% + 2.5vw + 2.5vh);
    text-shadow: 0 20px 30px rgba(255, 255, 255, 0.16);
  }

  .sub-title {
    top: 47vh;
    font-family: PoppinsMedium;
    font-size: calc(100% + 0.45vw + 0.45vh);
    color: white;
    text-transform: capitalize;
  }
}

.venus {
  position: absolute;
  width: 25vw;
  height: 25vh;
  top: 100px;
  min-width: 195px;

  img {
    width: 100%;
    height: auto;
  }
}

.astro {
  position: absolute;
  bottom: 20%;
  right: 30px;
  width: 25vw;
  height: 25vh;
  min-width: 163px;

  img {
    width: 100%;
    height: auto;
  }
}

.cta {
  position: absolute;
  font-family: PoppinsSemiBold;
  top: 70vh;
  transition: 0.9s;
  transition-property: background-color;
  @include centralise;

  a {
    width: 179px;
    height: 66px;
    padding: 20px;
    border-radius: 17px;
    color: $banner-yellow;
    background-color: $banner-blue;
    text-decoration: none !important;
    font-size: 1.3em;
  }
  a:hover {
    color: $banner-yellow;
    border: 1px solid $banner-yellow;
    background-color: transparent;
  }
}

// --------------------------- MEDIA QUERIES -----------------------------------
@media (max-width: 824px) {
  .hero {
    .main-title {
      font-size: calc(100% + 2vw + 2vh);
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  .venus {
    @include centralise;
    top: 150px;
    width: 30vw;
    height: 30vh;
  }

  .astro {
    @include centralise;
    bottom: 0px;
  }

  .cta {
    a {
      width: 150px;
      height: 59px;
      font-size: 1.1em;
    }
  }
}

@media (max-width: 586px) {
  .hero {
    .main-title {
      font-size: calc(100% + 1.7vw + 1.7vh);
    }

    .sub-title {
      font-size: calc(100% + 0.1vw + 0.1vh);
      top: 50vh;
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  .cta {
    a {
      width: 130px;
      height: 53px;
      font-size: 1em;
    }
  }
}

@media (max-height: 690px) {
  .venus {
    top: 110px;
    width: 164px;
  }
}
